.login-page {
  display: flex;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
}

.login-page .container {
  background-color: var(--surface);
  padding: 10px;
  border-radius: var(--border-radius);
}

.login-page .container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
